@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, HSLA(238,63%,37%,1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsl(341, 100%, 9%) 0, transparent 50%);
}

.gradient-bg-services {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 100%, HSLA(238,62%,37%,0.66) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, HSLA(238,62%,37%,0.66) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 53%),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color: #a099ff;
  background-image:
    radial-gradient(at 79% 27%, hsla(272, 63%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 87%, hsla(187, 74%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 0%, hsla(79, 67%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 61%, hsla(114, 90%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 82% 68%, hsla(226, 84%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 94%, hsla(201, 64%, 44%, 1) 0px, transparent 50%),
    radial-gradient(at 2% 4%, hsla(289, 67%, 78%, 1) 0px, transparent 50%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsl(327, 87%, 82%) 0, transparent 53%), radial-gradient(at 100% 60%, 	hsl(243, 75%, 59%) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}